*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 15fr 1fr;
  grid-template-columns: 1fr 5fr;
}

.header {
  grid-column: 1 / 3;
}

.sidebar {
  grid-column: 1 / 2;
}

.footer {
  grid-column: 1 / 3;
}